@import "../../styles/variables.scss";
@import "../../styles/global.scss";
@import "../../styles/responsive.scss";

.menu {
    .item{
        display: flex;
        flex-direction: column;
        gap:10px;
        margin-bottom: 20px;
        
        &:last-child {
            margin-bottom: 0px;
        }

        .title {
            font-size: $font-sm;
            font-weight: 200;
            color: var(--soft-color);
            text-transform: uppercase;

            @include lg {
                display : none;
            }
        }
        
        .listItem {
            display: flex;
            align-items: center;
            gap:10px;
            padding:10px;
            border-radius: 5px;
            
            &:hover {
                background-color: var(--soft-bg);
            }

            img {
                filter: var(--icon-color)
            }
            .listItemTitle {
                @include lg {
                    display : none;
                }
            }
        }
    }
}